
<template name= "index">
<div style="padding:20px;">
{{#unless signedin}}
    {{#unless readinstructions}}
        {{> hello}}
        {{> about}}
        <p><input type="button" id="instructions" value="Instructions"></p>
    {{/unless}}
{{/unless}} 

{{#unless gamestarted}}
    {{#if signedin}}
        <h2>Ready?</h2>
        <p><input type="button" id="start" value="Go to Round One"></p>
    {{/if}}
{{/unless}}
</div>
</template>

<template name="hello">
    <div style="padding:20px;">
    <h2>Welcome!</h2>
    </div>
</template>

<template name ="about">
    <div style="padding:20px;">
    <p> Thanks so much for your five minutes! I really appreciate it.</p>
    <p> I am a Masters Student at Maastricht University and I made this <br> 
        game to collect some data for my thesis.
   I can't give too much <br> away lest I bias your behaviour,
     but... a more detailed <br> explanation will be provided at the end.</p>
    <p> Please read the instructions carefully!</p>
    </div>
</template>

<template name ="instructions">
   <div style="padding:20px;">
    


   {{instructionstest}}

   <h2>Instructions</h2>
    
    <table width="60%" border="0" margin="10px" align="justify">
        <tr>The game is made up of <strong> five rounds,</strong> each thirty seconds long. </tr>
    <p></p><p></p>
        <tr>In each round, you must type out the words that appear in the blue box in order to earn coins. 
            You will earn one coin per correctly typed word and to pass each round, you need to <strong> earn at least 15 coins. </strong>
        </tr>
    <p></p><p></p>    
        <tr>
        The rounds cost <strong> 10 coins to play. </strong> Your first round is sponsored,
        but thereafter you will have to pay 10 coins to play each round.
        You retain your wealth for the duration of the game, so any savings you have from an early round can be used to play a later round.
        <p></p><p></p>  
        <p>{{#if displayEarnings}} In between each round you will be shown your Earnings rank. This indicates your wealth position relative to all the other players in the game based on how many coins you have. {{/if}} </p>
        </tr>
    <p></p><p></p>
        <tr>Not everybody is going to make it... You have the option to help out 
        some failed players at the end of every round at a cost
        of <strong>2 coins per player.</strong> You may save as many players as you wish but you may not prevent yourself from playing the next round. i.e. you need to retain at least 10 coins.
        <p></p><p></p>  
        <p>{{#if displaySocial}} In between each round you will be shown your Generosity rank. This is based on the number of players you have saved throughout the game, and indicates your position relative to all the other players in the game. {{/if}} </p></tr>
    <p></p><p></p>
    
    <tr>If <i>you</i> are in a bad way and do not have enough to proceed, it is possible that another player will send a donation your way.</tr>
        <p></p><p></p>
        
      
    </table>    
    
    <p></p><p></p>
    <p> Just try make it through the five rounds! </p>     
    <p> Good luck and have fun! </p> 
    <p><a href="/signup">Ok!</a></p>
    
    
</div>
</template>


<template name="signup">
    <div style="padding:20px;">
    <h2> Please provide the following particulars: </h2>
    
  <form class="form">
    
    <div class="form-group">
        <label for="age">Your Age here:</label>
      <input class="form-control" placeholder="Age" type="number" min="18" max="75" name="age" required/>
    </div>
    
    <div class="form-group">
        <label for="gender">Your Gender here:</label>
      <select name="gender" class="form-control" placeholder="Gender" required>
          <option value="default3">...</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

      <div class="form-group">
          <label for="field">Your Field here:</label>
      <select name="field" class="form-control" placeholder="Profession" required>
          <option value="default">...</option>
        <option value="business">Business, Finance, Economics</option>
        <option value="science">Science and Technology</option>
        <option value="culture">Arts and Culture</option>
        <option value="professional">Other Professionals: Law, Health etc.</option>
      </select>
    </div>
      
            <div class="form-group">
                <label for="Level">Your Level in that Field here:</label>
      <select name="Level" class="form-control" placeholder="Level" required>
          <option value="default2">...</option>
        <option value="student">Student</option>
        <option value="professional">Professional</option>
      </select>
    </div>
      
      
    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
    
    
  </form>
</div>
    
</template>

